#NewsEmailName {
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
	border-color: rgba(141, 135, 135, 0.609);
	border-width: .1px;
	border-radius: 0%;
	margin-bottom: 20px;
	text-decoration: none;
	font-size: small;
	font-family: arial;
	float: left;
}
.feild2 {
	margin-top: 5px;
	float: left;
	margin-left: -25px;
	color: rgb(141, 135, 135, 0.609);
}
.clearFx {
	clear: both;
}
.btndiv > button {
	width: 100%;
	font-weight: bold;
	font-family: sans-serif;
	font-size: small;
	margin: auto;
	transition: 0.5s;
	background-color: #f97d4a;
	/* #f97d4a */
}
.mybtnclass:hover {
	background-color: #fe9258;
}
