/* Centered text */
.centeredTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}
  .centeredSlogan {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
  }